.moviesContainer {
  margin-left: 10%;
  margin-right: 10%;
}

.pageButton {
  margin: 2% auto;
  
  width: 200px;
}
.cardText {
  font-size: 15px;
    height: 15rem;
    overflow-y: scroll;
    margin-top: 10px;
}
.cardBody {
  margin-top: 10px;
}
.pageButton > button {
  color: black;
  background: red;
  border: none;
  
}
.pageButton > button:hover {
  color: red;
  background-color: black;

}
.inputRange {
  height: 1rem;
  width: 500px;
  margin: 5% auto;
}
.inputRange > p {
  font-size: 20px;
  display: flex;
  justify-content: center;
}
